<!-- about-me.component.html -->
<div class="about-container">
    <div class="profile-image">
    </div>
    <div class="profile-info"> 
        <h1>Over mij</h1>
      <p>
        Momenteel ben ik als lector Recht en Veiligheid verbonden aan Avans Hogeschool en als universitair docent aan Tilburg University. Daarnaast ben ik columnist bij Binnenlands Bestuur en redactielid van Politics of the Low Countries. Mijn onderzoek richt zich op bestuur, recht en veiligheid op decentraal niveau.
        <br><br><br>
         U kunt al mijn publicaties vinden op de website van <a href="https://research.tilburguniversity.edu/en/persons/julien-van-ostaaijen/publications/" target="_blank" rel="noopener noreferrer" class="social-link">Tilburg University</a>
      </p>
    </div>
  </div>
  <div class="contactinformation">
    <h1>Contactinformatie</h1>
    <p><a href="https://x.com/ostaaijen" target="_blank" rel="noopener noreferrer" class="social-link">Twitter <fa-icon [icon]="faTwitter" class="icon"></fa-icon></a>  </p>
    <p><a href="https://www.linkedin.com/in/ostaaijen/" target="_blank" rel="noopener noreferrer" class="social-link">LinkedIn <fa-icon [icon]="faLinkedin" class="icon"></fa-icon></a>  </p>
    <p>Email <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>: J.J.C.vanOstaaijentilburguniversity.edu</p>
  </div>
  
  
  