/* Adjustments for mat-toolbar */
mat-toolbar {
    background-color: transparent;
    padding-left: 200px; /* Padding on the left to shift items a bit to the right */
    font-size: 1rem;
    box-shadow: none;
    margin-bottom: 50px;
    padding-top: 20px; /* Adds padding above the navbar items */
  }
  
  /* Style for links within the toolbar to change color to grey */
  mat-toolbar a {
    color: #666; /* Greyish tone */
    text-decoration: none;
    margin-right: 30px; /* Increases spacing to the right for each item */
  }
  
  /* Remove color change on hover and focus, but adjust for hover effect */
  mat-toolbar a:hover, mat-toolbar a:focus {
    color: #444; /* Darker grey on hover */
    text-decoration: none;
  }
  
  /* Angular Material button adjustments for consistent line height and appearance */
  .mat-button, .mat-flat-button, .mat-raised-button {
    line-height: normal;
  }
  /* styles.css or component-specific CSS */
/* styles.css or component-specific CSS */
.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;  /* Increased padding to increase height */
    background-color: #f8f8f8;  /* Light grey background */
    border-top: 1px solid #ccc; /* Top border for visual separation */
    font-size: 16px; /* Adjust font size if needed */
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 10px;
    color: #333;  /* Icon color */
    cursor: pointer;
    font-size: 24px; /* Larger icon size */
  }
  
  .icon:hover {
    color: #555; /* Darker shade on hover */
  }
  .app-container {
    min-height: 100%; /* Make sure it is at least as tall as the viewport */
    margin-bottom: -50px; /* Negative margin, where 50px is your footer's height */
    display: flex;
    flex-direction: column;
  }
  
  

  
  