/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Ensure a consistent font is used */
}

/* Adding global padding to the main app container */
.app-container {
    padding: 0 220px;
    /* Adjust this value to control the margin size */
    margin: auto;
    max-width: 1200px;
    /* Maximum width can be adjusted based on your design preference */
}

/* You might need to adjust the padding-top for the body to accommodate the fixed navbar */